name: life_k
description: "Life K-Line Chart - BaZi fortune visualization as candlestick charts"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_bloc: ^9.1.0
  bloc: ^9.0.0
  dio: ^5.8.0
  go_router: ^15.1.2
  shared_preferences: ^2.5.3
  lunar: ^1.3.20
  equatable: ^2.0.7
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
